{% extends 'base.html.twig' %}

{% block title %}Division index{% endblock %}

{% block body %}
    <h1>Division index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Sp1</th>
                <th>Sp2</th>
                <th>Sp3</th>
                <th>Sp4</th>
                <th>Sp5</th>
                <th>Sp6</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for division in divisions %}
            <tr>
                <td>{{ division.id }}</td>
                <td>{{ division.name }}</td>
                <td>{{ division.sp1 }}</td>
                <td>{{ division.sp2 }}</td>
                <td>{{ division.sp3 }}</td>
                <td>{{ division.sp4 }}</td>
                <td>{{ division.sp5 }}</td>
                <td>{{ division.sp6 }}</td>
                <td>
                    <a href="{{ path('division_show', {'id': division.id}) }}">show</a>
                    <a href="{{ path('division_edit', {'id': division.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('division_new') }}">Create new</a>
{% endblock %}