{% extends 'base.html.twig' %}

{% block title %}Specifications index{% endblock %}

{% block body %}
    <h1>Specifications index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sp1</th>
                <th>Sp2</th>
                <th>Sp3</th>
                <th>Sp4</th>
                <th>Sp5</th>
                <th>Sp6</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for specification in specifications %}
            <tr>
                <td>{{ specification.id }}</td>
                <td>{{ specification.sp1 }}</td>
                <td>{{ specification.sp2 }}</td>
                <td>{{ specification.sp3 }}</td>
                <td>{{ specification.sp4 }}</td>
                <td>{{ specification.sp5 }}</td>
                <td>{{ specification.sp6 }}</td>
                <td>
                    <a href="{{ path('specifications_show', {'id': specification.id}) }}">show</a>
                    <a href="{{ path('specifications_edit', {'id': specification.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('specifications_new') }}">Create new</a>
{% endblock %}