{% extends 'base.html.twig' %}

{% block title %}Specifications{% endblock %}

{% block body %}
    <h1>Specifications</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ specification.id }}</td>
            </tr>
            <tr>
                <th>Sp1</th>
                <td>{{ specification.sp1 }}</td>
            </tr>
            <tr>
                <th>Sp2</th>
                <td>{{ specification.sp2 }}</td>
            </tr>
            <tr>
                <th>Sp3</th>
                <td>{{ specification.sp3 }}</td>
            </tr>
            <tr>
                <th>Sp4</th>
                <td>{{ specification.sp4 }}</td>
            </tr>
            <tr>
                <th>Sp5</th>
                <td>{{ specification.sp5 }}</td>
            </tr>
            <tr>
                <th>Sp6</th>
                <td>{{ specification.sp6 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('specifications_index') }}">back to list</a>

    <a href="{{ path('specifications_edit', {'id': specification.id}) }}">edit</a>

    {{ include('specifications/_delete_form.html.twig') }}
{% endblock %}